doctype html
html
head
    title !Tardy | Don&apos;t be late!
    |   
    meta(charset='utf-8')
    |   
    meta(name='viewport', content='initial-scale=1.0')
    |   
    title index
    |   
    link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,700', rel='stylesheet', type='text/css')
    |   
    link(rel='stylesheet', href='css/standardize.css')
    |   
    link(rel='stylesheet', href='css/index-grid.css')
    |   
    link(rel='stylesheet', href='css/index.css')
    body.body.page-index.clearfix
    .container._container.container-1.js-bg
      .container._container
        .container._element.container-3.js-logo
          .dropdown
            span
              img(src='tardy_sb_icon_wht.png', style='width: 40, height: 40;', alt='icon')
            |           
            .dropdown-content
              a(href='#', style='color: rgb(64, 224, 208); text-decoration: underline;')
                b !Tardy
              br
              |             
              a(href='#map') Map
              br
              |             
              a(href='#route') Route
              br
              |             
              a(href='#weather') Weather
              br
        |       
        form#signup-form(method='post', action='#')
          .container._element.container-4.js-destination
            select(name='강의실')
              option(value='강의실') &#xAC15;&#xC758;&#xC2E4;
              |             
              option(value='공A') &#xACF5;A
              |             
              option(value='공B') &#xACF5;B
              |             
              option(value='공C') &#xACF5;C
              |             
              option(value='공D') &#xACF5;D
              |             
              option(value='백양관') &#xBC31;&#xC591;&#xAD00;
              |             
              option(value='교과관') &#xAD50;&#xACFC;&#xAD00;
              |             
              option(value='위당관') &#xC704;&#xB2F9;&#xAD00;
          |         
          .container._element.container-5.js-arrivaltime
            input(type='time', name='arrivaltime')
          |         
          button._button.js-submit Submit
        |       
        script(type='text/javascript').
          function GetClock(){
          var d=new Date();
          var nhour=d.getHours(),nmin=d.getMinutes(),ap;
          if(nhour==0){ap=" AM";nhour=12;}
          else if(nhour<12){ap=" AM";}
          else if(nhour==12){ap=" PM";}
          else if(nhour>12){ap=" PM";nhour-=12;}
          if(nmin<=9) nmin="0"+nmin;
          document.getElementById('clockbox').innerHTML=""+nhour+":"+nmin+ap+"";
          }
          window.onload=function(){
          GetClock();
          setInterval(GetClock,1000);
          }
        |       
        p#clockbox.text.text-1 00:00 AM
        |       
        p#weatherbanner.text  00&deg;C Loading... (Seoul, KR)
        |       
        p.text.text-2
          | Always late? We will calculate your departure time if you tell us your destination and required arrival time!
      |     
      #map.container._element.container-6.js-contentbox
      |     
      #route.container._element.container-7.js-contentbox
      |     
      #weather.container._element.container-8.js-contentbox
        script(type='text/javascript').
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
          myObj = JSON.parse(this.responseText);
          document.getElementById("weatherbanner").innerHTML = myObj.data.temperature + "\\260C " + myObj.data.skytext + " (Seoul, KR)";
          document.getElementById("dateday").innerHTML = myObj.data.day+" ("+myObj.data.date+")";
          document.getElementById("temp").innerHTML = myObj.data.temperature + " \\260C";
          document.getElementById("skycontext").innerHTML = myObj.data.skytext;
          document.getElementById("humwind").innerHTML = "<b>Humidity:</b>\\xa0\xa0" + myObj.data.humidity + "%\xa0\xa0\xa0\xa0" + "\xa0\xa0\xa0\xa0<b>Wind:</b>\xa0\xa0" + myObj.data.wind;
          var constring = myObj.data.skytext;
          var skycon = constring.split(" ");
          var len = skycon.length-1;
          var img = document.getElementById("sky");
          if(skycon[len] == "clear"){
          img.src = "sunny.png";
          }
          if(skycon[len] == "rain"){
          img.src = "rain.png";
          alert("Take an umbrella with you today!")
          }
          if(skycon[len] == "clouds"){
          if(skycon[0] == "Few"){
          img.src = "clear.png";
          }else {
          img.src = "cloudy.png";
          }
          }
          if(skycon[len] == "snow"){
          img.src = "snow.png";
          }
          }
          };
          xmlhttp.open("GET", "https://weathers.co/api.php?city=Seoul", true);
          xmlhttp.send();
        |       
        p(style='color:white; font-size:1.25em; font-weight:700;') Weather in Seoul, KR
        |       
        p#dateday(style='color:white; font-size:1em; font-weight:300;')
        br
        |       
        p#temp(style='color:white; font-size:1.7em; font-weight:700;')
        |       
        p#skycontext(style='color:white; font-size:1.25m; font-weight:300;')
        |       
        img#sky(src='loading.gif', width='100', height='100')
        |  
        br
        |       
        p#humwind(style='color:white; font-size:.85em; font-weight:300;')
        |     
        footer
          #footer.container._element.container-9.js-contentbox
            p(style='color:white; font-size:1em; font-weight:300;') &copy;2017 !Tardy
