.title {
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  padding: 150px 120px;
}

.profileimg {
  padding: 30px 20px;
  align: left;
}

td {
  width: 250px;
}

.content-bio {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  margin: auto;
}

.info {
  font-size: 23px;
  font-family: 'Rajdhani', sans-serif;
  text-align: justify;
}
