.container {
  font-size: 15px;
  padding: 150px 150px 0 0;
  position: relative;
  padding-bottom: 10%;
}

.contact {
  font-size: 30px;
  font-family: 'Righteous', cursive;
}

.contact-info {
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.contact-add {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}
