body {
  background-color: white;
}

.carousel-inner img {
  margin:auto;
  width: 100%;
  height: 100%;
}

.carousel-inner > .item > img {
  width: auto;
  height:780px;
}

.container {
  padding: 80px 120px;
}

.festival {
  border: 10px solid transparent;
  margin-bottom: 25;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}

p {
  font-size: 20px;
  font-family: 'Rajdhani', sans-serif;
}

h {
  font-size: 40px;
}

h3 {
  font-family: 'Righteous', cursive;
}
