
.navbar {
  width: 100%;
  height: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.navbar:hover{
  opacity: 1;
  filter: alpha(opacity=1);
}

.navbar-brand {
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  padding: 25px;
}
.navbar-nav li a {
  line-height: 70px;
  padding-top: 10;
}

.nav a {
  font-size: 20px;
}
