.products {
  padding: 115px;
}

.section {
  font-size: 30px;
  font-family: 'Righteous', cursive;
}

.featured {
  margin:auto;
  width: 50%;
}

.thumbnail {
  padding: 0 0 40px 0;
  border: none;
  border-radius: 0;
  width: 50%;
  height: auto;
}

.album-title {
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
