.products {
  padding: 115px;
}

.section {
  font-size: 25px;
}

.featured {
  margin:auto;
  width: 50%;
}

.thumbnail {
  padding: 0 0 40px 0;
  border: none;
  border-radius: 0;
}

.thumbnail h4 {
  margin-top: 15px;
  color: #555;
}
